doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./numberquiz.css')
  title Number Quiz
div
  h1 The Number quiz
  p Your current score is #{usersScore}.
  p Guese the next number in the sequence: 
  p #{questionList}
  form(action='', method='post')
    label(for='answer') Your Answer:
    input#answer(type='number', name='answer')
    br
    br
    button(type='submit') Submit
    p
